// HAMBURGER
$hamburger-padding-x           : 15px !default;
$hamburger-padding-y           : 15px !default;
$hamburger-layer-width         : 40px !default;
$hamburger-layer-height        : 4px !default;
$hamburger-layer-spacing       : 6px !default;
$hamburger-layer-color         : #fff !default;
$hamburger-layer-border-radius : 0px !default;
$hamburger-hover-opacity       : 0.7 !default;
$hamburger-active-layer-color  : $hamburger-layer-color !default;
$hamburger-active-hover-opacity: $hamburger-hover-opacity !default;

// To use CSS filters as the hover effect instead of opacity,
// set $hamburger-hover-use-filter as true and
// change the value of $hamburger-hover-filter accordingly.
$hamburger-hover-use-filter   : false !default;
$hamburger-hover-filter       : opacity(50%) !default;
$hamburger-active-hover-filter: $hamburger-hover-filter !default;

// Types (Remove or comment out what you don’t need)
$hamburger-types: (
  3dx,
  3dx-r,
  3dy,
  3dy-r,
  3dxy,
  3dxy-r,
  arrow,
  arrow-r,
  arrowalt,
  arrowalt-r,
  arrowturn,
  arrowturn-r,
  boring,
  collapse,
  collapse-r,
  elastic,
  elastic-r,
  emphatic,
  emphatic-r,
  minus,
  slider,
  slider-r,
  spring,
  spring-r,
  stand,
  stand-r,
  spin,
  spin-r,
  squeeze,
  vortex,
  vortex-r
) !default;

.hamburger {
  @include z-index(navicons);
  position: sticky;
}

// PRIMARY BUTTONS

.btn {
    @extend %btn;
        
    &__view {
        margin: 0 auto;
        margin-top: 40px;
        max-width: 392px;
    }

    &__submit {
        margin-top: 32px;
    }

    &__totop {
        @extend %btn;
        @include square(50px);
        position: fixed;
        right: -100%;
        bottom: 10%;
        padding: 12px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: right 1s $ease;

        .arrow {
            font-size: 22px;
        }
    }

    &__totop.--toTop-visible {
        right: 5%;
    }
}
