.page__footer {
    height: 360px;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('/assets/images/lg/footer-bg-img@lg.png');

    @include respond-below(md){
     background-image: url('/assets/images/md/footer-bg-img@md.png');
    }

    @include respond-below(sm){
        height: 180px;
        background-image: url('/assets/images/sm/footer-bg-img@sm.png');
    }
}