.page__header {
  padding: 10px 120px 41px 120px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $second-c;
  font-family: "Cinzel-700";
//   position: fixed;
//   z-index: 9999;

  @include respond-below(md){
    padding: 20px  72px;
  }

  .logo__box {
    @include z-index(header);

    @include respond-below(sm){
      width: 64px;
      height: 46px;
    }
    
    .logo {
        line-height: 0.8;
        font-size: 40px;
        text-align: center;

        @include respond-below(sm){
          font-size: 30px;
        }
    }
  }
  
  &--nav_box {
    display: flex;
    align-items: center;
    margin-left: auto;

    .tooltip {
      display: none;
    }
}

&--icons {   

  @include respond-below(sm){
    @include square(24px);
  }

    .phone--link:first-child{
        margin: 0 55px 0 16px;

        &:hover {
          .tooltip {
            display: flex;
            flex-direction: column;
            
            .link--tel {
                text-align: right;
            }    
            
            .link--tel:last-child {
                margin-top: 10px;
            }
        }
       }
    }
    
    .phone--link{
        width: 32px;
        cursor: pointer;

        img {
            width: fit-content;
        }
    }
  }

}