.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s;
    height: 100vh;
    background-color: $menu-bg-c;
    @include z-index(navigation);
    overflow-y: auto;
  
    &__navigation {
      padding: 11em 2em;
  
    @include respond-below(md){
        padding: 12em 7.2em;
    }

    @include respond-above(md){
        padding: 12em;
    }
  }

    &__list {
      display: flex;
      gap: 3.2rem;
      flex-direction: column;
      text-transform: uppercase;
      list-style: none;
      margin-bottom: 4rem;
      color: $second-c;
    }
    
    &__link {
      position: relative;
      font-family: "Cinzel-700";
      overflow: hidden;
      font-size: 22px;
      line-height: 2.2rem;
      font-weight: 700;
      letter-spacing: 2px;
      display: flex;
      flex-flow: column wrap;
      width: fit-content;
  
      &::before {
        content: "";
        position: absolute;
        left: -100%;
        bottom: 1px;
        height: 1px;
        width: 100%;
        background-color: $second-c;
        transition: left 0.3s $ease;
      }
  
      &--phone,
      &--link {
        display: inline-block;
      }
  
      &--info {
        width: fit-content;
        overflow-x: hidden;
        border-bottom: 1px solid $second-c;

        @include respond-below(md){
            margin-top: 16px;
        }
      }
    }
  
    &__item {
      cursor: pointer;
  
      &:hover {
        .menu__link:not(.phone-link) {
          &::before {
            left: 0;
          }
        }
      }
    }
}
  // JS CLASSES
.--menu-toggle {
   transform: translateX(0%);
}
  
.page__body--with-menu {
  overflow-y: hidden;
  
// .header {
//   background-color: $menu-bg-c;
//   }
}