// -------------- COLORS -------------- //

$body-bg-c: #eee;
$main-c: #161616;
$second-c: #ffffff;
$accent-c: #d12d35;
$input-bg-c: #F8F8FA;
$menu-bg-c: $accent-c;

// -------------- EASING -------------- //

$ease: cubic-bezier(0.075, 0.82, 0.165, 1);