.section__cards {
    margin-top: 140px;

    .row {
        justify-content: center;
        
        h2 {
            text-align: center;
            text-transform: uppercase;
            font-size: 48px;
            font-family: "Cinzel-700";
            margin-bottom: 48px;

            @include respond-below(sm){
              font-size: 32px;
              text-align: center;
            }
        }
    }

    .cards__container {
        display: flex;
        justify-content: space-between;
        gap: 24px;

       @include respond-below(sm){
        flex-flow: column wrap;
       } 

        .card {
            display: flex;
            flex-flow: column wrap;
            flex-basis: 30%;
            width: 324px;
            height: auto;

          @include respond-below(sm){
            width: 130px;
          }

            &__header {
              height: 320px;

              &--img-box {
                overflow: hidden;
              }

              &--title {
                color: $accent-c;
                font-family: "Cinzel-700";
                font-size: 24px;
              }
            }

            &__describe {
               margin-top: 56px;     
            }

            &__text {
                font-family: "Roboto-400";
                font-size: 16px;
                text-align: center;
                line-height: 27px;
            }
        }
    }
}