 .contact{
    margin-top: 140px;

    &__title {
        text-align: center;
        font-size: 48px;
        text-transform: uppercase;
        font-family: "Cinzel-700";
    }

    &__container {
        display: flex;
        gap: 24px;
        margin-top: 48px;

        @include respond-below(sm){
            flex-flow: column wrap;
        }
    }

    &__details--box1,
    &__details--box2 {
        h4 {
            font-size: 16px;
            font-family: "Cinzel-700";
            line-height: 27px;
            margin-bottom: 16px;
        }

        .phone {
            margin-bottom: 16px;
        }

        .phone--span {
            font-family: "Cinzel-400";
        }

        .phone--number {
            font-family: "Cinzel-700";
        }

        .address {
            font-style: normal;
            font-family: "Cinzel-700";
        }
    }

    &__details--box1,
    &__details--box2,
    .form {
        display: flex;
        flex-flow: column wrap;
        flex-basis: 30%;
    }

    &__form {
        flex-grow: 2;

        .form {
            .name,
            .email,
            .message {
                padding: 14px 16px;   
                font-family: "Cinzel-400"; 
                background-color: $input-bg-c;
                outline: none;
                border: none;
            }

            .email,
            .message {
                margin-top: 16px;
            }
        }
    }
 }
 