.gallery {
    font-family: "Cinzel-700";
    margin-bottom: 140px;

    h2,p {
        text-align: center;
    }

    p {
        font-family: "Cinzel-400";
    }

    &__container--box-1,
    &__container--box-2,
    &__container--box-3  {
            display: grid;
            gap: 24px;

            .row {
                grid-column: 1 / -1;
                flex-flow: column wrap;

                h4 {
                    color: $accent-c;
                }

                p {
                    text-align: left;
                }
            }
    }

    &__container--box-1 {
        grid-template-columns: 2fr 1fr;
        margin: 48px 0;

        @include respond-below(sm){
          grid-template-columns: 1fr 1fr;
          
          img{
            width: 130px;
            height: 130px;
          }
        }
    }

    &__container--box-2 {
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 48px;

        @include respond-below(sm){
            grid-template-columns: 1fr 1fr;
         
            img{
                width: 130px;
                height: 130px;
              }
          }
    }
    
    &__container--box-3 {
        grid-template-columns: 1fr 2fr;
        margin-bottom: 40px;

        @include respond-below(sm){
            grid-template-columns: 1fr 1fr;
             
            img{
                width: 130px;
                height: 130px;
              }
          }
    }   
 }
