.hero__section {
    min-height: 100vh;
    height: 840px;
    width: 100%;
    background-image: url('/assets/images/lg/header-bg-img@lg.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;

    @include respond-below(sm){
        height: 568px;
        background-position: 50%;
    }
    
    .hero__header {
       width: 100%;
       height: 100%;
       display: flex;
       justify-content: center;
       color: $second-c;
       font-size: 80px;
       text-align: center;
       font-family: "Cinzel-700";

       &--title {
        margin-top: 150px;
        line-height: 0.9;

        @include respond-below(sm){
            font-size: 40px;
        }
       }
    }
}