.info__section {
    display: flex;
    gap: 24px;
    margin: 140px 0;
    height: 100%;
    font-family: "Cinzel-700";

    @include respond-below(md){
        flex-flow: column wrap;
        gap: 0;
    }

    &--header {
       flex-basis: 45%;     

       &-span {
        color: $accent-c;
       }
    }

    &--describe {
        h3 {
            margin-bottom: 16px;
        }

        td {
            padding-top: 8px;
        
            &:nth-child(even) {
                padding-left: 25px;
                font-family: "Cinzel-400";
            }
        }

        h4 {
            margin-top: 16px;
        }

        p {
            font-family: "Cinzel-400";

        }

        h3 {
            margin-top: 24px;
        }
    }
}

