%btn {
    padding: 15px 72px 14px;
    background-color: $accent-c;
    color: $second-c;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    font-family: "Cinzel-700";
    cursor: pointer;

    &:hover {
        color: $accent-c;
        background-color: $body-bg-c;
        outline: 1px solid $accent-c;
        transition: all 2s $ease;
    }
}