@font-face {
    font-family: 'Cinzel-700';
    src: url('/assets/fonts/Cinzel/Cinzel-Bold.ttf') format('truetype');
  }

@font-face {
    font-family: 'Cinzel-400';
    src: url('/assets/fonts/Cinzel/Cinzel-Regular.ttf') format('truetype');
  }
    
  
  @font-face {
    font-family: 'Roboto-400';
    src: url('/assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  }
    