header#header.header.page__header
   .logo__box
     a.logo__box--link(href='/index.pug')
        h5.logo 
         | the 
         br
         | met     
   .page__header--nav_box
    .tooltip
     a.link.link--tel(href='tel:+')
      span the meth fiveth avnue
      br
      span +1 234 555-55-55
     a.link.link--tel(href='tel:+')
      span the meth cloisters
      br
      span +1 234 666-66-66
    .page__header--icons
      a.phone--link
       img(class="phone--link-img" src="/assets/images/svg/phone-icon.svg", alt="phone-icon", srcset="")
      a.phone--link
       button.hamburger.hamburger--arrow(type='button')
        span.hamburger-box
         span.hamburger-inner


