#menu.menu
  nav.menu__navigation
    ul.menu__list
      li.menu__item
        a.menu__link(href='index.pug') home
      li.menu__item
        a.menu__link(href='#info') about us
      li.menu__item
        a.menu__link(href='#gallery') gallery
      li.menu__item
        a.menu__link(href='#cards') explore online
      li.menu__item
        a.menu__link(href='#contact') contacts        
      li.menu__item
        a.menu__link.phone-link(href='tel:+1 234 555-55-55')
          span.menu__link--phone +1 234 555-55-55
          span.menu__link--info call to order
