body {
    min-height: 100vh;
    width: 100vw;
    // DESKTOP
} 

main {
    display: flex;
    flex-flow: column wrap;
    flex-grow: 1;
    padding-bottom: 150px;
}

.page__wrapper {
    margin: 0 120px;
    height: 100%;

    @include respond-below(md) {
        margin: 0 72px;
    }

    @include respond-below(sm){
        margin: 0 20px;
    }
}

.row {
    display: flex;
}

.section {
    width: 100%;
}

