*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, 
body {
  min-height: 100vh;
  background-color: $body-bg-c;
}

body {
    overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
  width: 100%;
  object-fit: cover;
}

input {
  outline: none;
}