.page__wrapper 
 section.section.section__cards.cards#cards
  .row 
   h2.title 
    | more to explore
    br
    | online
  .cards__container
    .card
      header.card__header
       .card__header--img-box
         img.card__header--img(src='/assets/images/lg/card-img1@lg.png' alt='card-img-1')
       .row
         h4.title.card__header--title
           | Collection Areas
      .card__describe
       p.text.card__text
         | These collection areas study, exhibit,
         | and care for the objects in The Met collection.
    .card
      header.card__header
       .card__header--img-box
         img.card__header--img(src='/assets/images/lg/card-img2@lg.png' alt='card-img-1')
       .row
         h4.title.card__header--title
           | Travel
      .card__describe
       p.text.card__text
         |Travel with The Met connects the Museum's
         | wide and diverse audience to art, inspiration,
         | and historical perspective.
    .card
      header.card__header
       .card__header--img-box
         img.card__header--img(src='/assets/images/lg/card-img3@lg.png' alt='card-img-1')
       .row
         h4.title.card__header--title
           | Virtual group tours
      .card__describe
       p.text.card__text
          | Request a guided tour, reserve admission and lead your own small group,
          | or request a live virtual tour led by a Museum guide.                  
  

    