.page__wrapper 
   section.section.contact#contact 
     h2.title.contact__title contact us 
     .contact__container 
      .contact__details--box1 
        h4.title The Met Fifth Avenue
        a.phone.phone--link
          span.phone--span phone 
          br
          span.phone--number +1 212-535-7710
        address.address
          h5.title 
          | 1000 Fifth Avenue
          br
          | New York, NY 10028  
      .contact__details--box2
        h4.title The Met Fifth Avenue
        a.phone.phone--link
          span.phone--span phone 
          br
          span.phone--number +1 212-535-7710
        address.address
          h5.title 
          | The Met Cloisters
          br
          | 99 Margaret Corbin Drive
          | Fort Tryon Park
          | New York, NY 10040
      .contact__form
       form.form#form(action="" method="POST")
        input.name#textInput(type="text", name="name" placeholder="name" required)
        input.email#emailInput(type="email", name="email" placeholder="e-mail" required)
        textarea.message#messageInput(name="message" placeholder="message"
                              cols="30", rows="10" reqired) 
        input.btn.btn__submit(type="submit", value="send")