.page__wrapper
  .section.gallery#gallery 
    h2.title Now On View 
    p.text 
     | Explore exhibition gallery guides,
     br
     | videos, articles, and more.
    .gallery__container--box-1 
      picture
       source(srcset='/assets/images/sm/gallery-img1@sm.png' media='(max-width: 320px)')
       source(srcset='/assets/images/lg/gallery-img1@lg.png' media='(min-width: 321px) and (max-width: 1200px)')
       source(srcset='/assets/images/lg/gallery-img1@lg.png' media='(min-width: 1201px)')
       img(src='/assets/images/sm/gallery-img1@sm.png' alt='picture-1')
      picture
       source(srcset='/assets/images/sm/gallery-img2@sm.png' media='(max-width: 320px)')
       source(srcset='/assets/images/lg/gallery-img2@lg.png' media='(min-width: 321px) and (max-width: 1200px)')
       source(srcset='/assets/images/lg/gallery-img2@lg.png' media='(min-width: 1201px)')
       img(src='/assets/images/sm/gallery-img2@sm.png' alt='picture-2') 
      .row 
       h4.title A New Look at Old Masters
       p.text December 12, 2020 – Through Spring 2023  
    .gallery__container--box-2
      picture
       source(srcset='/assets/images/sm/gallery-img3@sm.png' media='(max-width: 320px)')
       source(srcset='/assets/images/lg/gallery-img3@lg.png' media='(min-width: 321px) and (max-width: 1200px)')
       source(srcset='/assets/images/lg/gallery-img3@lg.png' media='(min-width: 1201px)')
       img(src='/assets/images/sm/gallery-img3@sm.png' alt='picture-3')
      picture
       source(srcset='/assets/images/sm/gallery-img4@sm.png' media='(max-width: 320px)')
       source(srcset='/assets/images/lg/gallery-img4@lg.png' media='(min-width: 321px) and (max-width: 1200px)')
       source(srcset='/assets/images/lg/gallery-img4@lg.png' media='(min-width: 1201px)')
       img(src='/assets/images/sm/gallery-img4@sm.png' alt='picture-4')        
      picture
       source(srcset='/assets/images/sm/gallery-img5@sm.png' media='(max-width: 320px)')
       source(srcset='/assets/images/lg/gallery-img5@lg.png' media='(min-width: 321px) and (max-width: 1200px)')
       source(srcset='/assets/images/lg/gallery-img5@lg.png' media='(min-width: 1201px)')
       img(src='/assets/images/sm/gallery-img5@sm.png' alt='picture-5')   
      .row 
       h4.title Bodhisattvas of Wisdom, Compassion, and Power
       p.text March 27, 2021 – October 30, 2022
    .gallery__container--box-3    
      picture
       source(srcset='/assets/images/sm/gallery-img6@sm.png' media='(max-width: 320px)')
       source(srcset='/assets/images/lg/gallery-img6@lg.png' media='(min-width: 321px) and (max-width: 1200px)')
       source(srcset='/assets/images/lg/gallery-img6@lg.png' media='(min-width: 1201px)')
       img(src='/assets/images/sm/gallery-img6@sm.png' alt='picture-6')      
      picture
       source(srcset='/assets/images/sm/gallery-img7@sm.png' media='(max-width: 320px)')
       source(srcset='/assets/images/lg/gallery-img7@lg.png' media='(min-width: 321px) and (max-width: 1200px)')
       source(srcset='/assets/images/lg/gallery-img7@lg.png' media='(min-width: 1201px)')
       img(src='/assets/images/sm/gallery-img7@sm.png' alt='picture-7')   
      .row    
       h4.title Inspiring Walt Disney: The Animation of French Decorative Arts
       p.text December 10, 2021 – March 6, 2022
    .row 
      button.btn.btn__view view all exhibitions    