section#heroSection.section.hero__section
 include ../components/header.pug
 .page__wrapper
  header.hero__header 
   h1(data-splitting).title.hero__header--title
    span.char welcome 
    br
    span.char to the met