.page__wrapper#info 
  section.setion.info__section#infoSection
    header.info__section--header 
      span.info__section--header-span plan your visit
      h2.title museum hours
    .info__section--describe
      h3.title The Met Fifth Avenue
      table
        tbody
          tr.table-row
           td.table-col 10 am - 5 pm
           td.table-col Sun, Mon, Tue, Thu
          tr.table-row
           td.table-col 10 am - 9 pm
           td.table-col Fri, Sat
          tr.table-row
           td.table-col Closed
           td.table-col Wen
      h4.title closed on
      p.text Thanksgiving Day, Dec 25, Jan 1, and the first Monday in May.      
      h3.title The Met Cloisters
      table
        tbody
          tr
           td 110 am – 4.30 pm
           td Thu - Tue
          tr
           td Closed
           td Wen
      h4.title closed on
      p.text Thanksgiving Day, Dec 25, Jan 1     

