include ../layout/hero.pug
include ../components/navigation.pug
main
 include ../layout/info.pug
 include ../layout/gallery.pug
 include ../layout/cards.pug
 include ../layout/contact.pug
include ../components/toTopBtn.pug 
include ../components/footer.pug

 